.flex {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
}
.directionColumn {
   flex-direction: column;
}
.directionRow {
   flex-direction: row;
}
.justifyCenter {
   justify-content: center;
}
.justifyFlexStart {
   justify-content: flex-start;
}
.justifySpaceBetween {
   justify-content: space-between;
}
.justifySpaceAround {
   justify-content: space-around;
}
.alignFlexStart {
   align-items: flex-start;
}
.alignCenter {
   align-items: center;
}
