.grid {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-template-rows: repeat(7, 1fr);
   gap: 5px;
   width: 100%;
}
.gridItem {
   height: 100%;
   width: 100%;
   color: #aaa;
   border: 1px solid #00000000;
}
.black {
   color: #111;
}
.selected {
   background-color: var(--tertiary);
   border: 1px solid var(--tertiary);
}
.available {
   border: 1px solid var(--tertiary);
}
.heading {
   font-weight: bold;
}
